dependencies:
  - allOf:
    - nais-crds
    - kyverno
environmentKinds:
  - tenant
  - legacy
values:
  featureFlags.generated_client:
    description: Use generated client for ACLs
    displayName: "Feature: generated client"
    config:
      type: bool
  featureFlags.native_kafka_acl:
    description: Use native Kafka ACLs instead of Aiven ACLs
    displayName: "Feature: native Kafka ACL"
    config:
      type: bool
  aiven.projects:
    description: Aiven projects (space separated) with Kafka enabled for this instance of kafkarator
    computed:
      template: '"{{.Env.aiven_project}}"'
    config:
      type: string
  aiven.token:
    description: An API-token with full access to the relevant projects
    displayName: Aiven API-token
    computed:
      template: '"{{ .Env.aiven_application_token_kafkarator }}"'
    config:
      type: string
      secret: true
  aiven.log_level:
    description: Log level for kafkarator
    displayName: Kafkarator log level
    config:
      type: string
  caBundle:
    description: Enable CA bundle for Aiven API
    displayName: Enable CA bundle
    computed:
      template: "true"
    ignoreKind:
      - tenant
  extraEnv.HTTPS_PROXY:
    displayName: HTTPS proxy
    config:
      type: string
    ignoreKind:
      - tenant
  extraEnv.NO_PROXY:
    displayName: NO_PROXY
    config:
      type: string
    ignoreKind:
      - tenant
  image.pullPolicy:
    config:
      type: string
  image.repository:
    config:
      type: string
  image.tag:
    config:
      type: string
